.card {
    box-shadow: inset 0 0 10px rgb(12, 8, 8);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  height: 370px;
  width: 90%;
  margin: 50px 0 0 0;
  border-radius: 18px;
  background: white;

  &__topimage {
    border-radius: 18px 18px 0 0;
    text-align: center;
    width: 100%;
    height: 35%;
    background: url("../images/jamaicaflag.jpg");
    background-size: cover;
  }

    // &__userimg {
    // 	border-radius: 50%;
    // 	border: solid 7px white;
    // }

    &__profilepic {
        height: 120px;
        width: auto;
      border: solid 7px white;
      border-radius: 50%;
      margin-top: 70px;
    }

    &__playerinfo {
      margin: 90px 0 0 0;
      text-align: center;
    }

    &__name {
      font-weight: 700;
      font-size: 18px;
      color: hsl(229, 23%, 23%);
    }

    &__age {
      color: hsl(227, 10%, 46%);
      font-weight: 400;
    }

    &__club {
      margin: 9px 0 0 0;
      font-size: 14px;
      color: hsl(227, 10%, 46%);
          font-weight: 400;
    }

    &__line {
          width: 100%;
      height: 1px;
      border-width: 0;
      color: hsl(230, 17%, 86%);
      background-color:hsl(230, 17%, 86%);
          margin: 22px 0;
    }

    &__stats {
          width: 90%;
      display: flex;
          justify-content: space-around;
          text-align: center;
    }

      &__number {
          font-weight: 700;
      font-size: 18px;
          color: hsl(229, 23%, 23%);

      }

      &__tag {
          font-size: 14px;
      color: hsl(227, 10%, 46%);
          font-weight: 400;
          margin: 9px 0 0 0;
      }
  }
